<div id="footer">
  <div id="legal-info">
    Markets data delayed by at least 15 minutes. © THE FINANCIAL TIMES LTD 2018. FT and ‘Financial Times’ are trademarks of The Financial Times Ltd.
The Financial Times and its journalism are subject to a self-regulation regime under the FT Editorial Code of Practice.
  </div>
  <div id="footer-brand">
    <div id="brand-logo">
      A Nikkei Company
    </div>
  </div>
</div>
