<div id="page-header">
</div>
<div id="top-logo">
    <img
      id="logo"
      src="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft-masthead?source=o-header&tint=%2333302E,%2333302E&format=svg"
      alt="Financial Times logo"
    >
</div>
<div id="header-search-container">
  <div id="search-container">
    <form class="search-container">
      <input type="text" placeholder="Search.." id="search" aria-label="search-box">
      <button type="button" id="search-submit"><label aria-label="search-button-submit"></label>Search</button>
    </form>
  </div>
</div>
