<!DOCTYPE html>
<html>
  <head>
    <title>Financial Times</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
	      href="https://origami-build.ft.com/v2/bundles/css?modules=o-grid@^4.0.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <span id="logo">FINANCIAL TIMES</span>
      <form class="search-container">
        <label for="search-text"></label><input type="text" placeholder="Search.." id="search">
        <button type="button"><i class="search-submit" onclick="search()">Search</i></button>
      </form>
      <div class="articles-container">
        <% articles.forEach(function(article) { %>
          <div class="article">
            <a href=<%= article.location.uri %>> <%= article.title.title %> </a>
          </div>
        <% }); %>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
