<!DOCTYPE html>
<html>
  <head>
    <title>Financial Times</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>FINANCIAL TIMES</h1>
      <% titles.forEach(function(title) { %>
        <div class="articles">
          <%= title %>
        </div>
      <% }); %>
    <br />
  </body>
</html>
