body {
  margin: 0;
}

html {
  background-color: #fff1e5;
}

.container {
  width: 60%;
  margin: 0 auto;
  font-family: FinancierDisplayWeb, serif;
}

a {
  color: #66605c;
  text-decoration: none;
}

#page-header {
  background-color: #33302e;
  height: 20px;
}
#top-logo {
  text-align: center;
  border-bottom: 1px solid black;
}

#logo {
  width: 50%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

#header-search-container {
  background-color: #ccc1b7;
}

#search-container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#search {
  border: #00FFFF solid 2px;
  width: 70%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#search-submit {
  background-color: #000;
  color: #FFF;
  padding: 7px 5px 7px 5px;
}

#footer {
  background-color: #33302e;
  text-align: center;
}

#legal-info {
  color: #a8aaad;
  font-family: MetricWeb, sans-serif;
  font-size: 10px;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

#footer-brand {
  background-color: #000;
}

#brand-logo {
  background-color: #000;
  color: white;
  font-family: MetricWeb, sans-serif;
  font-size: 16px;
  margin-left: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articles-container {
  display: flex;
  flex-flow: row wrap;
}

.articles-container div{
  padding: 10px;
}

.article {
  margin: 5px;
  width: 150px;
  background-color: #f2dfce;
}

.article-title {
  color: #33302e;
  font-weight: bold;
  font-size: 15px;
  font-family: FinancierDisplayWeb, sans-serif;
}

.article-summary {
  font-size: 12px;
  font-family: MetricWeb, serif;
}
